
body {
    margin: 0;
    padding: 0;
    background-color: #0e2235;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #112f4a;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.imagem-topo {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    margin: 10px 0 5px;
}

.subtitulo {
    color: #b0cbe1;
    margin-bottom: 20px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: white;
}

.login-box button {
    width: 94%;
    padding: 10px;
    background-color: #00aef0;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #008dc7;
}
